
$font-size: 14px;

$title-font: 'HelveticaNeue-Thin', sans-serif;
$title-color: #ffffff;


$text-font: 'GothamLight', sans-serif;
$mainFont: 'Times New Roman', serif;
$footerFont: 'GothamBook', sans-serif;



$hoverColor: #c1c45b;
$itemBackground: #999999;